.sidebar {
    width: 300px;
}

.sidebar-logo {
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #fff;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    max-width: 70%;
    height: auto;
}


button {
    color: #3f51b5;
    margin: 10px 0;
    font-size: 16px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-align: left;
    padding: 10px 20px;
    transition: background-color 0.3s, transform 0.3s;
    display: flex;
    align-items: center;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    transform: translateX(5px);
    border-left: 5px solid #FFA500;
}

button.active-link {
    background-color: #1565C0;
    border-radius: 5px;
    transform: translateX(5px);
    color: white;
    border-left: 5px solid #FFA500;
}

button i.mat-icon-custom {
    margin-right: 10px;
}

button .link-text {
    margin-left: 10px;
}

.sidebar-hidden {
    display: none;
}

.icon-rotated {
    transform: rotate(180deg);
}

.right-icon {
    margin-left: 10px;
}

.submenu {
    background-color: #F0F8FF;
    padding: 10px 0;
    border: 1px solid #FFA500;
    transform: translateY(5px);
}

.white-icon {
    color: #FFFFFF;
}