.main-container {
    display: flex;
    height: 80vh;
    padding: 20px;
}

.search-container {
    flex: 1;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #ffffff;
}

.search-field {
    width: 100%;
}

.coordinate-field {
    width: 100%;
    margin-bottom: 10px;
}

.search-results {
    max-height: 400px;
    overflow-y: auto;
}

#map {
    flex: 2;
}

/* Tạo CSS để hiển thị biểu tượng location */
.location-icon {
    font-size: 24px;
    color: red;
    /* Màu đỏ, bạn có thể thay đổi màu sắc tùy thích */
}