<div class="main-container">
    <div class="search-container">
        <mat-form-field class="search-field">
            <mat-label>Tìm kiếm địa điểm</mat-label>
            <input matInput #searchInput (input)="searchLocation($event)">
        </mat-form-field>
        <div class="search-results">
            <mat-list>
                <mat-list-item *ngFor="let result of searchResults" (click)="selectLocation(result)">
                    {{ result.place_name }}
                </mat-list-item>
            </mat-list>
        </div>

        <mat-form-field class="coordinate-field">
            <mat-label>Kinh độ</mat-label>
            <input matInput #longitudeInput>
        </mat-form-field>
        <mat-form-field class="coordinate-field">
            <mat-label>Vĩ độ</mat-label>
            <input matInput #latitudeInput>
        </mat-form-field>

        <mat-form-field class="origin-field">
            <mat-label>Điểm xuất phát</mat-label>
            <input matInput #originInput>
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="searchByCoordinates()">
            <mat-icon>location_on</mat-icon> Tìm kiếm theo Tọa độ
        </button>
        
        <button mat-raised-button color="primary" (click)="searchByOrigin()">
            <mat-icon>location_on</mat-icon> Tìm kiếm xuất phát
        </button>
    </div>

    <div id="map"></div>
</div>
