<!-- edit-post-category-dialog.component.html -->
<div class="edit-dialog">
    <h2>Chỉnh Sửa Bài Viết</h2>
    <form (submit)="saveChanges()">
        <!-- Mã Bài Viết -->
        <mat-form-field class="form-field">
            <mat-label>Mã bài viết</mat-label>
            <input matInput [(ngModel)]="post.maBaiViet" name="maBaiViet" required>
        </mat-form-field>

        <!-- Tiêu Đề -->
        <mat-form-field class="form-field">
            <mat-label>Tiêu đề</mat-label>
            <input matInput [(ngModel)]="post.tieuDe" name="tieuDe" required>
        </mat-form-field>

        <!-- Tóm Tắt -->
        <mat-form-field class="form-field">
            <mat-label>Tóm tắt</mat-label>
            <textarea matInput [(ngModel)]="post.tomTat" name="tomTat" required></textarea>
        </mat-form-field>

        <!-- Nội Dung -->
        <div class="form-field">
            <mat-label>Nội dung</mat-label>
            <angular-editor [(ngModel)]="post.noiDung" name="noiDung" [config]="config"></angular-editor>
        </div>

        <!-- Ngày Đăng -->
        <mat-form-field class="form-field">
            <mat-label>Ngày tạo</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="post.ngayTao" name="ngayDang" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <!-- Mã Loại -->
        <mat-form-field class="form-field">
            <mat-label>Mã loại</mat-label>
            <mat-select [(ngModel)]="post.maLoai" name="maLoai" required>
                <mat-option *ngFor="let list of data.listPosts" [value]="list.maLoai">
                    {{ list.tenLoai }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <!-- Mã Ảnh -->
        <mat-form-field class="form-field">
            <mat-label>Mã ảnh</mat-label>
            <mat-select [(ngModel)]="post.maAnh" name="maAnh" required>
                <mat-option *ngFor="let image of data.images" [value]="image.maAnh">
                    {{ image.tenAnh }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <div class="button-container">
            <button mat-raised-button type="submit">Lưu</button>
            <button mat-raised-button type="button" (click)="closeDialog()">Hủy</button>
        </div>
    </form>
</div>