<div class="add-dialog">
    <h2>Thêm Hình Ảnh</h2>
    <form (submit)="saveChanges()">
  
      <!-- Tiêu Đề Hình Ảnh -->
      <mat-form-field class="form-field">
        <mat-label>Tiêu Đề Hình Ảnh</mat-label>
        <input matInput [(ngModel)]="image.tenAnh" name="tieuDeHinhAnh" required>
        <div *ngIf="isInputEmpty" class="error-message">Tiêu đề hình ảnh không được để trống.</div>
      </mat-form-field>
  
      <!-- Tệp Đính Kèm -->
      <mat-form-field class="form-field">
        <mat-label>Tệp Đính Kèm</mat-label>
        <input type="file" (change)="onFileSelected($event)" accept=".jpg, .jpeg, .png" #fileInput hidden />
        <mat-icon matSuffix (click)="openFileInput()">attach_file</mat-icon>
        <!-- <span>{{ selectedFileName }}</span> -->
        <input matInput [placeholder]="'Chọn tệp'" [disabled]="true" [value]="selectedFileName" class="file-path-input">
      </mat-form-field>
  
      <img [src]="image.duongDan" alt="Hình Ảnh Đã Chọn" *ngIf="image.duongDan" class="selected-image" />
  
      <div class="button-container">
        <button mat-raised-button type="submit">Lưu</button>
        <button mat-raised-button type="button" (click)="closeDialog()">Hủy</button>
      </div>
    </form>
  </div>
  