footer {
    background-color: #F0F8FF;
    color: #2d4271;
    padding: 20px;
    text-align: center;
    border-top: 2px solid #555;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.column {
    flex: 1 500px;
    margin-left: 20px;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.middle {
    text-align: center;
}

.right {
    text-align: right;
}

.logo-image {
    width: 150px; 
    height: auto;
}

.logo {
    padding-bottom: 5px;
}

.intro {
    flex: 1;
}

.intro {
    text-align: justify;
}

nav {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
    flex-direction: column;
    text-align: left;
}

nav a {
    padding: 10px;
}

.footer-link {
    color: #2d4271;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    transition: color 0.3s ease;
}

.footer-link:hover {
    color: #ffd700;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.social-icon {
    color: #2d4271;
    font-size: 24px;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-icon:hover {
    color: #ffd700;
}

.copyright {
    font-size: 12px;
}

/* Responsive styling for smaller screens */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
    }

    .social-icons {
        flex-direction: column;
    }

    .social-icon {
        margin: 5px 0;
    }
}