<div class="detail-dialog">
    <h2>Chi Tiết Bài Viết</h2>
    <div class="dialog-content">
        <div class="form-field">
            <label class="bold-label">Mã bài viết: </label>
            {{ data.maBaiViet }}
        </div>

        <div class="form-field">
            <label class="bold-label">Tiêu đề: </label>
            {{ data.tieuDe }}
        </div>

        <div class="form-field">
            <label class="bold-label">Tóm tắt: </label>
            {{ data.tomTat }}
        </div>

        <div class="form-field">
            <label class="bold-label">Nội dung: </label>
            <p [innerHTML]="sanitizeHtml(data.noiDung)"></p>
        </div>
        

        <div class="form-field">
            <label class="bold-label">Ngày đăng: </label>
            {{ data.ngayTao | date: 'dd/MM/yyyy' }}
        </div>

        <div class="form-field">
            <label class="bold-label">Loại: </label>
            {{ data.loai.maLoai }} - {{ data.loai.tenLoai }}
        </div>

        <div class="form-field">
            <label class="bold-label">Hình ảnh url: </label>
            {{data.anh.duongDan}}
            <img src=" {{data.anh.duongDan}}" alt="">
        </div>

    </div>
    <div class="button-container">
        <button mat-raised-button type="button" (click)="closeDialog()" class="close-button">Đóng</button>
    </div>
</div>