<div class="search-container">
  <div class="input-container">
    <input id="departure-input" type="text" placeholder="Chọn điểm xuất phát" [(ngModel)]="departureAddress">
    <i class="material-icons">location_on</i>
  </div>
  <div class="input-container">
    <select id="destination-input" [(ngModel)]="destinationAddress" (change)="getCoordinatesForDestination()">
      <option value="" disabled selected>Tùy chọn điểm đến</option>
      <option *ngFor="let destination of destinations" [value]="destination.tenDiemDen">{{ destination.tenDiemDen }}</option>
    </select>
    
  </div>
  <button id="search-button" (click)="search()">Tối ưu đường đi</button>
  <button id="get-location-button" (click)="getCurrentLocation()">Lấy vị trí</button>

  <!-- <button mat-button routerLink="/lich-trinh/tao-lich-trinh">Tạo lịch trình</button> -->
  <!-- <button mat-button routerLink="/lich-trinh/xem-lich-trinh-mau">Xem lịch trình</button> -->

</div>
<div class="info-map">
  <!-- <div id="directions-container"></div> -->
  <div id="map"></div>
</div>
