/* CSS cho container chứa input và button */
.search-container {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(250, 250, 250);
    min-height: 30px;
    padding: 10px 32px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid #ccc;
}

/* CSS cho input và icon bản đồ */
.input-container {
    position: relative;
    padding: 5px 20px;
}

.input-container input, .input-container select {
    flex: 1;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    max-width: 400px;
    padding: 0.8rem 3.5rem !important;
}

.input-container .material-icons {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    font-size: 24px;
}

/* CSS cho button */
#search-button,
#get-location-button {
    background-color: #0074e4;
    color: #fff;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    margin: 5px 20px;
    padding: 0 1rem;
}

.info-map {
    display: flex;
    flex-direction: row;
}

/* CSS cho directions-container */
#directions-container {
    background-color: rgb(250, 250, 250);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 350px 1;
    overflow-y: auto;
}

.destination-options {
    list-style: none;
    padding: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-height: 200px;
    overflow-y: auto;
}

/* CSS cho bản đồ */
#map {
    width: 100%;
    min-height: 70vh;
}