/* Styles for the Edit Post Dialog */
.edit-dialog {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff; /* Add a background color */
    border: 1px solid #ccc; /* Add a border */
    padding: 20px; /* Add some padding */
    border-radius: 8px; /* Add rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

.edit-dialog h2 {
    font-size: 24px;
    margin: 20px 0;
    border-bottom: 2px solid #1976D2; /* Add a bottom border */
    padding-bottom: 10px; /* Adjust the padding as needed */
}

.scrollable-form {
    max-height: 400px;
    overflow-y: auto;
    padding-right: 10px; /* Add some padding to the right to accommodate the scrollbar */
}

.form-field {
    width: 100%;
    margin: 10px 0;
    position: relative; /* Create a relative positioning context for labels */
}

.form-field .mat-form-field-underline {
    border-color: #1976D2;
}

.form-field .mat-input-element {
    color: #333;
    font-size: 16px;
    padding: 6px; /* Increase padding for input elements */
}

.form-field .mat-input-placeholder {
    color: #999;
}

.mat-label {
    color: #555; /* Add color to the labels */
    font-size: 14px; /* Adjust label font size */
    position: absolute;
    top: -6px; /* Adjust label position */
    background-color: #fff;
    padding: 0 4px;
    transition: top 0.3s, font-size 0.3s;
}

.form-field.focused .mat-label {
    top: -20px; /* Move the label up when focused */
    font-size: 12px; /* Reduce font size when focused */
}

.selected-image {
    max-width: 200px;
    max-height: 150px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.file-path-input {
    margin-top: 10px;
    color: #333;
    font-size: 14px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.button-container button {
    flex: 1;
    margin: 0 10px;
}

/* Styles for the 'Lưu' button */
button[type="submit"] {
    background-color: #1976D2;
    color: #fff;
    font-size: 16px;
    border: none;
    padding: 10px 20px; /* Adjust button padding */
    cursor: pointer;
    border-radius: 4px;
}

/* Styles for the 'Hủy' button */
button[type="button"] {
    background-color: #ccc;
    color: #333;
    font-size: 16px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}

/* Style for the attach file icon */
.mat-icon {
    cursor: pointer;
    color: #1976D2;
    font-size: 24px;
    transition: color 0.3s; /* Add a smooth transition for icon color */
}

.mat-icon:hover {
    color: #0a58ca; /* Change icon color on hover */
}

/* Style for the choose file input */
input[disabled] {
    cursor: not-allowed;
}
