<div class="edit-dialog">
  <h2>Chỉnh sửa hình ảnh</h2>
  <form (submit)="saveChanges()" class="scrollable-form">

    <!-- Mã Hình Ảnh -->
    <mat-form-field class="form-field">
      <mat-label>Mã Hình Ảnh</mat-label>
      <input matInput [(ngModel)]="image.maAnh" name="maAnh" required>
    </mat-form-field>

    <!-- Tiêu Đề Hình Ảnh -->
    <mat-form-field class="form-field">
      <mat-label>Tiêu Đề Hình Ảnh</mat-label>
      <input matInput [(ngModel)]="image.tenAnh" name="tenAnh" required>
    </mat-form-field>

    <!-- Mã Điểm Đến -->
    <mat-form-field class="form-field">
      <mat-label>Mã Điểm Đến</mat-label>
      <mat-select [(ngModel)]="image.maDiemDen" name="maDiemDen">
        <mat-option *ngFor="let destination of data.destinations" [value]="destination.maDiemDen">
          {{ destination.tenDiemDen }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Mã Bài Viết -->
    <mat-form-field class="form-field">
      <mat-label>Mã Bài Viết</mat-label>
      <mat-select [(ngModel)]="image.maBaiViet" name="maBaiViet">
        <mat-option *ngFor="let post of data.posts" [value]="post.maBaiViet">
          {{ post.tieuDe }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Hình Ảnh -->
    <mat-form-field class="form-field">
      <mat-label>Hình Ảnh</mat-label>
      <input type="file" (change)="onFileSelected($event)" accept=".jpg, .jpeg, .png" #fileInput hidden />
      <mat-icon matSuffix (click)="openFileInput()">attach_file</mat-icon>
      <span>{{ selectedFileName }}</span>
      <input matInput [placeholder]="'Choose File'" [disabled]="true" [value]="selectedFileName" class="file-path-input">
    </mat-form-field>

    <img [src]="image.duongDan" alt="Selected Image" *ngIf="image.duongDan" class="selected-image"/>

    <!-- Ngày Tạo -->
    <mat-form-field class="form-field">
      <mat-label>Ngày Tạo</mat-label>
      <input matInput [(ngModel)]="image.ngayTao" name="ngayTao" required [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <div class="button-container">
      <button mat-raised-button type="submit">Lưu</button>
      <button mat-raised-button type="button" (click)="closeDialog()">Hủy</button>
    </div>
  </form>
</div>