.mat-toolbar {
  background-color: #fff;
  color: #333;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.2s;
  position: fixed;
  z-index: 1000;
  top: 0; /* Keep the toolbar at the top */
  left: 0;
  right: 0;
}

.nav-link {
  color: #333;
  font-size: 18px;
  text-decoration: none;
  position: relative;
  transition: transform 0.2s;
  font-weight: 500; 
}

.nav-link::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  top: 22px;
  width: 0;
  height: 2px;
  background: linear-gradient(to right, transparent 50%, #FFA500 50%);
  background-size: 200% 100%;
  background-position: right;
  transition: width 0.3s ease;
}

.nav-link:hover::before {
  width: 100%;
}

.nav-link:hover {
  transform: scale(1.1);
}

.nav-link.active::before {
  width: 100%;
}

.nav-link.active {
  font-weight: bold;
}

.mat-toolbar-row {
  display: flex;
  justify-content: space between;
  align-items: center;
  padding: 0 16px;
}

.logo {
  margin-right: 16px;
  cursor: pointer;
}

.logo-image {
  width: auto;
  max-height: 40px;
  display: block;
}

.nav-links {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-list {
  list-style: none;
  padding: 0;
  display: flex;
}

.nav-item {
  margin-right: 16px;
  transition: transform 0.2s;
}

.nav-item:hover {
  transform: scale(1.1);
}

.user-actions {
  display: flex;
  align-items: center;
}

.notification-button {
  margin-right: 16px;
  font-size: 24px;
  color: #FFD700; /* Yellow color */
  transition: transform 0.2s, color 0.2s;
}

.notification-button:hover {
  transform: scale(1.1);
  color: #FFA500; /* Slightly different shade of yellow on hover */
}


.login-button {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
  font-size: 16px;
  text-decoration: none;
  transition: color 0.2s, transform 0.2s;
}

.login-button mat-icon {
  margin-right: 4px;
  font-size: 16px;
}

.login-button:hover {
  color: #1976D2;
  transform: scale(1.1);
}

