<mat-toolbar class="sticky-header" color="primary">
    <div class="mat-toolbar-row">
        <div class="logo">
            <img src="/assets/logo.png" alt="Logo" class="logo-image">
        </div>
        <button mat-icon-button (click)="toggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
        <nav class="nav-links">
            <ul class="nav-list">
                <li class="nav-item">
                    <a routerLink="/trang-chu" routerLinkActive="active" class="nav-link">Trang chủ</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/kham-pha" routerLinkActive="active" class="nav-link">Khám phá</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/lich-trinh" routerLinkActive="active" class="nav-link">Lịch trình</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/ban-do" routerLinkActive="active" class="nav-link">Bản đồ</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/bai-viet" routerLinkActive="active" class="nav-link">Bài viết</a>
                </li>
            </ul>
        </nav>
        <div class="user-actions">
            <button mat-icon-button class="notification-button">
                <mat-icon>notifications</mat-icon>
            </button>
            <ng-container *ngIf="!isForgotPassword; else forgotPasswordForm">
                <button mat-button (click)="openLoginDialog()" class="login-button">
                    <span>Đăng nhập</span>
                </button>
            </ng-container>
            <ng-template #forgotPasswordForm>
                <!-- Thêm nội dung cho biểu mẫu phục hồi mật khẩu ở đây -->
            </ng-template>
        </div>
    </div>
</mat-toolbar>

<app-sidenav [showSidenav]="showSidenav"></app-sidenav>
<div class="overlay" *ngIf="showSidenav" (click)="closeSidenav()"></div>