<!-- header.component.html -->

<header fxLayout="row" fxLayoutAlign="space-between center" fxLayout.xs="column" fxLayoutAlign.xs="start center">
    <!-- Logo and Navigation Container -->
    <div class="logo-nav-container" fxLayout="row" fxLayoutAlign="start center">
        <!-- Logo -->
        <div class="logo">
            <img src="/assets/logo.png" alt="Logo" class="logo-image">
        </div>

        <!-- Navigation -->
        <nav fxLayout="row" fxLayoutAlign="start center">
            <a routerLink="/trang-chu" routerLinkActive="active" class="nav-link">Trang chủ</a>
            <a routerLink="/kham-pha" routerLinkActive="active" class="nav-link">Khám phá</a>
            <a (click)="handleBanDoClick()" routerLink="/ban-do" routerLinkActive="active" class="nav-link">Bản đồ</a>
            <a (click)="handleLichTrinhClick()" routerLink="/lich-trinh" routerLinkActive="active" class="nav-link">Lịch trình</a>
            <a routerLink="/bai-viet" routerLinkActive="active" class="nav-link">Tin tức</a>
            <a (click)="handlThongTinClick()" routerLink="/thong-tin-nguoi-dung" routerLinkActive="active" class="nav-link">Thông tin</a>
        </nav>
    </div>

    <!-- User Actions -->
    <div class="user-actions" fxLayout="row" fxLayoutAlign="end center">
        <ng-container *ngIf="loggedInUser; else loginButton">
            <span class="username">{{ loggedInUser.tenNguoiDung }}</span>
            <button (click)="logout()">
                <mat-icon>exit_to_app</mat-icon>
            </button>
        </ng-container>
        <ng-template #loginButton>
            <button (click)="openLoginDialog()">
                <mat-icon>person_outline</mat-icon>
            </button>
        </ng-template>
    </div>

    <!-- Navigation Toggle Button -->
    <button class="nav-toggle" (click)="toggleSidenav()">
        <mat-icon>menu</mat-icon>
    </button>
</header>

<app-sidenav [showSidenav]="showSidenav"></app-sidenav>
<div class="overlay" *ngIf="showSidenav" (click)="closeSidenav()"></div>
