<div class="detail-dialog">
    <h2>Chi Tiết Điểm Đến</h2>
    <div class="scrollable-form">
        <div class="form-field">
            <label class="bold-label">Mã điểm đến: </label>
            {{ data.destination.maDiemDen }}
        </div>

        <div class="form-field">
            <label class="bold-label">Tên điểm đến: </label>
            {{ data.destination.tenDiemDen }}
        </div>

        <div class="form-field">
            <label class="bold-label">Mô tả: </label>
            {{ data.destination.moTa }}
        </div>

        <div class="form-field">
            <label class="bold-label">Kinh độ: </label>
            {{ data.destination.kinhDo }}
        </div>

        <div class="form-field">
            <label class="bold-label">Vĩ độ: </label>
            {{ data.destination.viDo }}
        </div>

        <div class="form-field">
            <label class="bold-label">Địa chỉ: </label>
            {{ data.destination.diaChi }}
        </div>

        <div class="form-field">
            <label class="bold-label">Ngày tạo: </label>
            {{ data.destination.ngayTao | date: 'dd/MM/yyyy' }}
        </div>

        <div class="form-field">
            <label class="bold-label">Danh mục: </label>
            {{ data.destination.danhMuc.maDanhMuc }} - {{ data.destination.danhMuc.tenDanhMuc }}
        </div>

        <div class="form-field">
            <label class="bold-label">Hình ảnh url: </label>
            {{data.destination.anh.duongDan}}
            <img src=" {{data.destination.anh.duongDan}}" alt="">
        </div>

    </div>
    <div class="button-container">
        <button mat-raised-button type="button" (click)="closeDialog()" class="close-button">Đóng</button>
    </div>
</div>