<div class="content-table">
    <h2>Danh Sách Người Dùng</h2>

    <div class="search-and-add">
        <!-- Thanh tìm kiếm -->
        <mat-form-field class="search-input">
            <mat-label>Tìm kiếm</mat-label>
            <input matInput [formControl]="searchControl" placeholder="Ví dụ: John Doe" #input
                (keyup)="applyFilter(input.value)" />
        </mat-form-field>

        <!-- Thêm nút "Thêm" -->
        <button mat-fab class="add-button" (click)="showAddForm()">
            <mat-icon>add</mat-icon>
        </button>
    </div>

    <table mat-table [dataSource]="filteredUsers" matSort class="mat-elevation-z8">
        <!-- Cột Mã Người Dùng -->
        <ng-container matColumnDef="maNguoiDung">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="small-column"> Mã Người Dùng </th>
            <td mat-cell *matCellDef="let user" class="small-column" class="responsive-cell">
                <div class="data-label">Mã Người Dùng</div>
                <div class="data-value">{{ user.maNguoiDung }}</div>
            </td>
        </ng-container>

        <!-- Cột Tên Người Dùng -->
        <ng-container matColumnDef="tenNguoiDung">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Tên Người Dùng </th>
            <td mat-cell *matCellDef="let user" class="responsive-cell">
                <div class="data-label">Tên Người Dùng</div>
                <div class="data-value">{{ user.tenNguoiDung }}</div>
            </td>
        </ng-container>

        <!-- Cột Vai Trò -->
        <ng-container matColumnDef="vaiTro">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Vai Trò </th>
            <td mat-cell *matCellDef="let user" class="responsive-cell">
                <div class="data-label">Vai Trò</div>
                <div class="data-value">{{ user.vaiTro }}</div>
            </td>
        </ng-container>

        <!-- Cột Thao Tác -->
        <ng-container matColumnDef="thaoTac">
            <th mat-header-cell *matHeaderCellDef> Thao Tác </th>
            <td mat-cell *matCellDef="let user" class="responsive-cell">
                <div class="data-value" style="text-align: center;">
                    <!-- Nút chỉnh sửa -->
                    <button mat-icon-button (click)="showEditForm(user)">
                        <mat-icon class="edit-icon">edit</mat-icon>
                    </button>

                    <!-- Nút xóa -->
                    <button mat-icon-button (click)="showDeleteForm(user)">
                        <mat-icon class="delete-icon">delete</mat-icon>
                    </button>

                    <!-- Nút Chi tiết -->
                    <button mat-icon-button (click)="showDetails(user)">
                        <mat-icon class="detail-icon">info</mat-icon>
                    </button>
                </div>
            </td>
        </ng-container>

        <!-- Định nghĩa các hàng và cột của bảng -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <!-- Thông báo không có dữ liệu -->
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="10">Không có dữ liệu phù hợp với từ khóa tìm kiếm "{{ searchControl.value }}"
            </td>
        </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
</div>
