<div class="list-destinations">
    <h2>Danh Sách Điểm Đến</h2>

    <div class="search-and-add">
        <!-- Thanh tìm kiếm -->
        <mat-form-field class="search-input">
            <mat-label>Tìm kiếm</mat-label>
            <input matInput [formControl]="searchControl" placeholder="Ví dụ: 1" #input
                (keyup)="applyFilter(input.value)" />
        </mat-form-field>

        <!-- Thêm nút "Thêm" -->
        <button mat-fab class="add-button" (click)="showAddForm()">
            <mat-icon>add</mat-icon>
        </button>
    </div>

    <table mat-table [dataSource]="filteredDestinations" matSort class="mat-elevation-z8">
        <!-- Cột Mã Điểm Đến -->
        <ng-container matColumnDef="maDiemDen">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="small-column"> Mã Điểm Đến </th>
            <td mat-cell *matCellDef="let destination" class="small-column" class="responsive-cell">
                <div class="data-label">Mã Điểm Đến</div>
                <div class="data-value">{{ destination.maDiemDen }}</div>
            </td>
        </ng-container>

        <!-- Cột Tên Điểm Đến -->
        <ng-container matColumnDef="tenDiemDen">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Tên Điểm Đến </th>
            <td mat-cell *matCellDef="let destination" class="responsive-cell">
                <div class="data-label">Tên Điểm Đến</div>
                <div class="data-value">{{ destination.tenDiemDen }}</div>
            </td>
        </ng-container>

        <!-- Cột Thao Tác -->
        <ng-container matColumnDef="thaoTac">
            <th mat-header-cell *matHeaderCellDef> Thao Tác </th>
            <td mat-cell *matCellDef="let destination" class="responsive-cell">
                <div class="data-label">Thao Tác:</div>
                <div class="data-value" style="text-align: center;">
                    <!-- Nút chỉnh sửa -->
                    <button mat-icon-button (click)="showEditForm(destination)">
                        <mat-icon class="edit-icon">edit</mat-icon>
                    </button>

                    <!-- Nút xóa -->
                    <button mat-icon-button (click)="showDeleteForm(destination)">
                        <mat-icon class="delete-icon">delete</mat-icon>
                    </button>

                    <!-- Nút Chi tiết -->
                    <button mat-icon-button (click)="showDetails(destination)">
                        <mat-icon class="detail-icon">info</mat-icon>
                    </button>
                </div>
            </td>
        </ng-container>

        <!-- Định nghĩa các hàng và cột của bảng -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <!-- Thông báo không có dữ liệu -->
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="10">Không có dữ liệu phù hợp với từ khóa tìm kiếm "{{ searchControl.value }}"
            </td>
        </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
</div>