<div class="featured-places">
    <h2 class="section-title">Điểm Đến Nổi Bật</h2>

    <div class="featured-row">
        <!-- Địa điểm nổi bật 1 -->
        <div class="featured-place">
            <img src="../../../assets/chua-lau-an-giang.jpg" alt="Chùa Lầu - An Giang">
            <div class="place-info">
                <h3>Chùa Lầu - An Giang</h3>
                <p>
                    Chùa Lầu, hay còn được gọi là Phước Lâm Tự, là một ngôi chùa có kiến trúc độc đáo tọa lạc tại khóm
                    Xuân Phú, thị trấn Tịnh Biên, huyện Tịnh Biên, tỉnh An Giang. Chùa được xây dựng vào năm 1992 theo
                    lối kiến trúc cổ xưa, gồm nhiều tầng lầu cao thấp, được sơn màu vàng rực rỡ.
                </p>
                <div class="place-actions">
                    <div class="place-button-container">
                        <!-- <a href="#" class="featured-place-button">Xem Chi Tiết</a> -->
                    </div>
                </div>
            </div>
        </div>

        <!-- Địa điểm nổi bật 2 -->
        <div class="featured-place">
            <img src="assets/cap-treo-nui-sam.png" alt="Cáp Treo Núi Sam">
            <div class="place-info">
                <h3>Cáp Treo Núi Sam</h3>
                <p>
                    Cáp treo Núi Sam là một hệ thống cáp treo được đầu tư xây dựng bởi Công ty Cổ phần MGA Việt Nam, nằm
                    trong Khu du lịch quốc gia Núi Sam, thành phố Châu Đốc, tỉnh An Giang. Hệ thống cáp treo này được
                    đưa vào vận hành từ năm 2019, là một điểm du lịch mới thu hút đông đảo du khách đến tham quan.
                </p>
                <div class="place-actions">
                    <div class="place-button-container">
                        <!-- <a href="#" class="featured-place-button">Xem Chi Tiết</a> -->
                    </div>
                </div>
            </div>
        </div>

        <!-- Địa điểm nổi bật 3 -->
        <div class="featured-place">
            <img src="assets/cho-noi-long-xuyen-an-giang.jpg" alt="Chợ Nổi Long Xuyên - An Giang">
            <div class="place-info">
                <h3>Chợ Nổi Long Xuyên</h3>
                <p>
                    Chợ nổi Long Xuyên là một trong những chợ nổi nổi tiếng nhất miền Tây, nằm trên sông Hậu, thuộc
                    phường Mỹ Long, thành phố Long Xuyên, tỉnh An Giang. Chợ nổi Long Xuyên là điểm tham quan hấp dẫn du
                    khách trong và ngoài nước, mang đến những trải nghiệm thú vị về cuộc sống và văn hóa của người dân
                    miền Tây sông nước.
                </p>
                <div class="place-actions">
                    <div class="place-button-container">
                        <!-- <a href="#" class="featured-place-button">Xem Chi Tiết</a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>