<div class="content-table">
    <h2>Quản Lý Lịch Trình</h2>

    <!-- Search and Add Buttons -->
    <div class="search-and-add">
        <mat-form-field class="search-input">
            <mat-label>Tìm kiếm</mat-label>
            <input matInput [formControl]="searchControl" placeholder="Ví dụ: 1" #input
                (keyup)="applyFilter(input.value)" />
        </mat-form-field>

        <button mat-fab class="add-button" (click)="addSchedule()">
            <mat-icon>add</mat-icon>
        </button>
    </div>

    <!-- Table -->
    <table mat-table [dataSource]="filteredSchedules" matSort class="mat-elevation-z8">
        <!-- Mã Lịch Trình Column -->
        <ng-container matColumnDef="maLichTrinh">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="small-column"> ID </th>
            <td mat-cell *matCellDef="let schedule" class="small-column" class="responsive-cell">
                <div class="data-label">ID</div>
                <div class="data-value">{{ schedule.maLichTrinh }}</div>
            </td>
        </ng-container>

        <!-- Tiêu Đề Lịch Trình Column -->
        <ng-container matColumnDef="tieuDe">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="small-column"> Tiêu Đề</th>
            <td mat-cell *matCellDef="let schedule" class="small-column" class="responsive-cell">
                <div class="data-label">Tiêu Đề</div>
                <div class="data-value">{{ schedule.tieuDe }}</div>
            </td>
        </ng-container>

        <!-- Thao Tác Column -->
        <ng-container matColumnDef="thaoTac">
            <th mat-header-cell *matHeaderCellDef> Thao Tác </th>
            <td mat-cell *matCellDef="let schedule" class="responsive-cell">
                <div class="data-label">Thao Tác:</div>
                <div class="data-value" style="text-align: center;">
                    <!-- Edit Button -->
                    <button mat-icon-button (click)="editSchedule(schedule)">
                        <mat-icon class="edit-icon">edit</mat-icon>
                    </button>
                    <!-- Delete Button -->
                    <button mat-icon-button (click)="deleteSchedule(schedule)">
                        <mat-icon class="delete-icon">delete</mat-icon>
                    </button>
                    <!-- Details Button -->
                    <button mat-icon-button (click)="showScheduleDetails(schedule)">
                        <mat-icon class="details-icon">info</mat-icon>
                    </button>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <!-- Thông báo không có dữ liệu -->
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="10">Không có dữ liệu phù hợp với từ khóa tìm kiếm "{{ searchControl.value }}"
            </td>
        </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
</div>