<app-slider></app-slider>

<!-- <app-destination-list></app-destination-list> -->
<div class="home-container">
  <div class="content">
    <div class="introduction">
      <h1>Trải nghiệm Du lịch Tuyệt vời</h1>
      <h2>Khám phá những điểm đến độc đáo trên khắp thế giới</h2>
      <p>Hãy cùng TravelOptima khám phá và tận hưởng những khoảnh khắc đáng nhớ trong hành trình của bạn.</p>
      <a routerLink="/kham-pha" class="explore-button">Bắt đầu khám phá</a>

      <app-featured-places></app-featured-places>
    </div>
  </div>
</div>