/* admin-home.component.css */

.summary-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px;
}

.summary-box {
    flex: 1;
    position: relative;
    border: 1px solid transparent;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease;
    margin: 10px; /* Điều chỉnh khoảng cách giữa các summary-box */
    box-sizing: border-box;
}

.destination-box {
    background: linear-gradient(45deg, #a3d2ca, #7f8c8d);
    color: #004445;
}

.schedule-box {
    background: linear-gradient(45deg, #f8b400, #e74c3c);
    color: #2d2926;
}

.schedule-destination-box {
    background: linear-gradient(45deg, #3498db, #2c3e50);
    color: #ecf0f1;
}

.post-box {
    background: linear-gradient(45deg, #f28d35, #2ecc71);
    color: #fff;
}

.summary-header {
    position: relative;
    z-index: 1;
}

.summary-header h3 {
    font-size: 18px;
    margin: 0;
    padding: 10px;
}

.summary-content p {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0 0;
}

/* Border Animation Effect */
.summary-box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: linear-gradient(45deg, #fff, transparent);
    z-index: 0;
    transition: opacity 0.3s ease;
    opacity: 0;
}

.summary-box:hover::before {
    opacity: 1;
}

.summary-box.schedule-destination-box::before {
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.2), transparent);
}

.chart-container {
    width: 100%;
    margin-top: 20px;
}

/* Customize the chart canvas */
#userRegistrationChart {
    width: 100%;
    max-width: 800px; /* Adjust the maximum width as needed */
    margin: 0 auto; /* Center the chart horizontally */
    border: 1px solid #ddd;
}

/* Add some spacing between the chart and summary boxes */
.summary-container {
    margin-bottom: 20px;
}

@media (max-width: 600px) {
    .summary-container {
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
    }

    .summary-box {
        flex: 1;
        width: 100%;
    }
}