<!-- admin-home.component.html -->

<div class="summary-container">
    <div class="summary-box destination-box">
        <div class="summary-header">
            <h3>Tổng số điểm đến</h3>
        </div>
        <div class="summary-content">
            <p>{{ totalDestinations }}</p>
        </div>
    </div>

    <div class="summary-box schedule-box">
        <div class="summary-header">
            <h3>Tổng số lịch trình</h3>
        </div>
        <div class="summary-content">
            <p>{{ totalSchedules }}</p>
        </div>
    </div>

    <div class="summary-box post-box">
        <div class="summary-header">
            <h3>Tổng số bài viết</h3>
        </div>
        <div class="summary-content">
            <p>{{ totalPosts }}</p>
        </div>
    </div>

    <div class="summary-box schedule-destination-box">
        <div class="summary-header">
            <h3>Tổng số lịch trình đã tạo</h3>
        </div>
        <div class="summary-content">
            <p>{{ totalScheduleDestinations }}</p>
        </div>
    </div>

    <div class="chart-container">
        <div #userRegistrationChart></div>
    </div>
</div>