<mat-card class="forgot-password-card">
    <h2 class="forgot-password-title">Quên mật khẩu?</h2>
    <p class="instructions">Vui lòng cung cấp số điện thoại để khôi phục mật khẩu:</p>
    <mat-form-field>
        <mat-label>Số điện thoại</mat-label>
        <input matInput placeholder="Số điện thoại" [(ngModel)]="phoneNumber" required>
        <div *ngIf="phoneNumberError" class="error-message">{{ phoneNumberError }}</div>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Mật khẩu mới</mat-label>
        <input matInput type="{{ hideNewPassword ? 'password' : 'text' }}" placeholder="Mật khẩu mới"
            [(ngModel)]="password" required>
        <mat-icon matSuffix (click)="toggleShowHidePassword('newPassword')">
            {{ hideNewPassword ? 'visibility_off' : 'visibility' }}
        </mat-icon>
        <div *ngIf="passwordError" class="error-message">{{ passwordError }}</div>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Nhập lại mật khẩu mới</mat-label>
        <input matInput type="{{ hideConfirmNewPassword ? 'password' : 'text' }}" placeholder="Nhập lại mật khẩu mới"
            [(ngModel)]="confirmPassword" required>
        <mat-icon matSuffix (click)="toggleShowHidePassword('confirmNewPassword')">
            {{ hideConfirmNewPassword ? 'visibility_off' : 'visibility' }}
        </mat-icon>
        <div *ngIf="passwordMismatchError" class="error-message">{{ passwordMismatchError }}</div>
    </mat-form-field>
    <button mat-raised-button color="primary" class="reset-button" (click)="resetPassword()">Khôi phục mật khẩu</button>
    <a (click)="showLogin()" class="back-to-login-link">Quay lại đăng nhập</a>
</mat-card>