<div class="post-list">
    <div class="navigation-bar">
        <!-- Top part with the selected category name -->
        <div class="nav-top custom-nav-top">
            <p>{{ selectedCategory ? selectedCategory.tenLoai : 'Tất cả danh mục' }}</p>
        </div>
        <!-- Bottom part with the navigation menu -->
        <div class="nav-bottom custom-nav-bottom">
            <ul>
                <li (click)="filterPostsByCategory(null)">Tất cả danh mục</li>
                <li *ngFor="let category of categories" (click)="filterPostsByCategory(category)">{{ category.tenLoai }}
                </li>
            </ul>
        </div>
    </div>
    <div class="post-items custom-post-items">
        <div *ngFor="let post of pagedPosts" class="post-item custom-post-item">
            <img src="{{ post.anh?.duongDan }}" alt="">
            <div class="post-info">
                <a [routerLink]="['/chi-tiet-bai-viet', post.maBaiViet]">
                    <h2 class="custom-tieuDe">{{ post.tieuDe }}</h2>
                </a>
                <div class="info-line">
                    <p class="custom-maLoai">{{ post.loai?.tenLoai }}</p> -
                    <p class="custom-ngayTao">{{ post.ngayTao | date:'dd/MM/yyyy' }}</p>
                </div>
                <p class="custom-tomTat">{{ post.tomTat }}</p>
            </div>
        </div>
    </div>
    <div class="pagination">
        <mat-paginator [length]="totalItems" [pageSize]="itemsPerPage" (page)="onPageChange($event)"
            [showFirstLastButtons]="true"></mat-paginator>
    </div>
</div>